.banner-card-item {
    border: 1px solid #cbced2;
    border-radius: 8px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    max-width: 1140px;
    list-style-type: none;
}

.card-1 {
    background-image: url("https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png");
    background-size: cover;
}

.card-2 {
    background-image: url("https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.card-3 {
    background-image: url("https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
}

.heading {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 32px;
    color: #326a9d;
}

.description {
    font-family: "Roboto";
    font-size: 18px;
    color: #64748b;
    margin-top: 26px;
    margin-bottom: 32px;
}

.show-more-button {
    border: 2px solid #326a9d;
    border-radius: 5px;
    background-color: #ffffff;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
    color: #326a9d;
    padding: 8px;
}